.hidden {
	display: none;
}
#poup {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
}
.succes {
    width: 90%;
    margin: 0 auto;
    display: none;
}
.succes span {
	text-align: center;
    display: block;
    padding: 50px 0px;
    border: 2px solid #38c541;
}

/* overlay at start */
.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.35s ease-out;
	-moz-transition: all 0.35s ease-out;
	transition: all 0.35s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
	opacity: 0;
}
/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	opacity: 0;
	-webkit-transition: all 0.35s ease-out;
	-moz-transition: all 0.35s ease-out;
	transition: all 0.35s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	opacity: 0;
}
form.form input {
    width: 90%;
    padding: 10px;
    margin: 5px;
    font-size: 1em;
}
form.form {
    text-align: center;
}
form.form textarea {
    width: 90%;
    padding: 10px;
    margin: 5px;
    font-size: 1em;
}
form.form button {
    background: #07a6f9;
    padding: 12px 30px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}